
body {
	background-image: url("sheetmusic2.jpg");
	font-family: 'Simonetta';
	}

	
.container {
	width: 700px;
	background-color: #fff;
	border: 10px solid #000;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	}

div.content-overview {
	width: 660px;
	padding: 20px;
	background: linear-gradient(to bottom right, #cc0000 0%, #663300 100%);
	}
	
div.content-history {
	width: 660px;
	padding: 20px;
	background: linear-gradient(to bottom right, #cc0000 0%, #663300 100%);
	height: 1700px;
	}
	
div.content-personalconnections {
	width: 660px;
	padding: 20px;
	background: linear-gradient(to bottom right, #cc0000 0%, #663300 100%);
	}
	
div.content-gallery {
	width: 660px;
	padding: 20px;
	background: linear-gradient(to bottom right, #cc0000 0%, #663300 100%);
	background: fill;
	}

		
img.instrument {
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
	width: 300px;
	height: 300px;
	}
				
ul {
	list-style-type: none;
	background-color: #333;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
				
li {
	float: left;
	width: 174px;
	border-right: 1px solid #bbb;
	}
				
li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 14px 16px;
	text-align: center;
	height: 32px;
				}
				
li a:hover {
	background-color: #BF4D28;
	height: 32px;
	}
				
.current {
	background-color: #A7321C;
	height: 32px;
	}
		
		}
		
div.table{
			background-color: white;
			border:		     10px solid blue;
			box-shadow:	     -20px 20px 40px black;
			position:        absolute;
			padding: 	     20px;
			right:           40px;
			top:             40px;
			width:           500px;	
			height:          1000px;
		}
		
		table, th, td {
			border-bottom: 1px solid #A7321C;
			border-right: 1px solid  #A7321C;
			text-align: center;

		}

		table {
			border-collapse: collapse;
			width: 400px;
			height: 200px;
		}

		tr:nth-child(even) {
			background-color: white;
		}

		tr:nth-child(odd) {
			background-color: brown;
		}

		td:hover {
			background-color: grey;
			color: white;
		}

		th, td {
			padding: 10px;
		}

		th {
			background-color: black;
			color: white;
		}
		
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}